*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: pink;
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.nav
{
    display: flex;
    /* border: 2px solid black; */
    height: 90px;
    justify-content: space-between;
    /* background-color: aqua; */
    
}
.logo img{
    height: 40px;
}
.list-items ul{
    display: flex;
    list-style: none;
    padding: 10px;
    gap: 20px;
 font-size: larger;
 font-weight: bold;
 border-bottom: red;
 margin-right: 20px;

}
.list-items li a{
    text-decoration: none;
}
.list-items li a:hover{
    border-bottom:  5px solid red;
    cursor: pointer;
}  
footer{
    background-color: black;
    color: white;
}
.container{
    margin-left:45px;
    display: flex;

}
.container1{
    margin-left: 50px;
    /* border: 2px solid red; */
    height: 250px;
width: 300px;

}
h2{
    margin: 25px;
}
p{
    color: gray;
    text-align: center;
}
.logo{
    display: flex;
    padding: 38px;
    justify-content: center;

}
.img1{
    padding-right: 12px;
}
.redstore{
    margin-left: 50px;
    /* border: 2px solid red; */
    height: 250px;
width: 400px;

}
.img3{
    
}
#para1{
    padding: 32px;
}
.links{
    /* border: 2px solid red; */
    margin-left: 12px;
    width: 230px;
  
}
h3{
    text-align: center;
    margin-top: 20px;
}
li{    

    list-style: none;
    text-align: center;
    
    color: gray;
}
.list{
   
    margin-left: 12px;
    width: 230px;
    margin-top: 20px;
}
.follow{
    /* border: 2px solid red; */
    margin-left: 12px;
    width: 230px;
  
}

li .follow1 {
padding-top: 12px;
}
