*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   align-items: center;
    justify-content: center;
 background: url("https://t4.ftcdn.net/jpg/05/14/88/87/360_F_514888787_tWcIa1tNgv4Gj2T958DPlrWeYCxvvYrw.webp");
background-repeat: no-repeat;
background-size: cover;
backdrop-filter: blur(8px);
/* z-index: -2; */

height: 100vh;
display: flex;

  
}
.container{
    perspective: 1000px;
}
    .flag {
        width: 270px;
        height: 165px;
        display: flex;
        flex-direction: column;
        animation: wave 2s infinite ease-in-out;
        transform-origin: left; /* Animation from the left side */
      }
.saffron{
    background-color: salmon;
   
    height: 55px;
}
.white{
    background-color: white;
  position: relative;
    height: 55px;
}


.green{
    background-color: green;
  
    height: 55px;
}
/* img{
    height: 40px;
    width: 30px;
    animation: colorChange 5s linear infinite;

} */
.ashok-chakra img{
   
    text-align: center;
    animation: colorChange 5s linear infinite;
    width: 40px;
    height: 30px;
    position: absolute;
    top: 20%;
    left: 45%;
    border-radius: 40%;
    animation: rotation 5s infinite;
}
.text-line {
    font-size: 20px;
    margin-top: 20px;
    color: #fff;
    text-shadow: 3px 4px 3px 1px gray;
    animation: colorChange 2s linear infinite;
  }
  /* Keyframe for waving effect */
  @keyframes wave {
    0%,
    100% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(15deg);
    }
  }
  

@keyframes colorChange {
    0% {
      color: #ff9933;
    }
    50% {
      color: #fff;
    }
    100% {
      color: #138808;
    }
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }