*{
    margin: 0;
    padding: 0;
 box-sizing: border-box;
}
/* .container{
    border: 2px solid red;
    background-color: red;
} */
body{
    font-size: 10px;
}
.box{
    width: 500px;
  height: 500px;
  border: 5px solid;
  background: rgb(215, 125, 125);
  margin: 0 auto;
}
nav{
    display: flex;
    border: 1px solid;
    width: 100vw;
    height: 80px;
    margin-top: 20px;
    background: gray;
  
}
ul{
    display: flex;
    gap: 80px;
    font-size: 24px;
    color: blanchedalmond;
}
.container{
    width: 340px;
  height: 100px;
  background: #000;
 
  margin-top: 20px;
}
.box1{
    background: red;
  position: absolute;
  z-index: 3;
  left: 10px;
  border: 2px solid white;
  height: 70px;
  width: 70px;
}
.box2 {
    background: yellow;
    position: absolute;
    z-index: 5;
    left: 120px;
    border: 2px solid white;
  height: 70px;
  width: 70px;
  }
  .box3 {
    background: pink;
    position: absolute;
    z-index: 8;
    left: 250px;
    border: 2px solid white;
  height: 70px;
  width: 70px;
  }
  
  @media (min-width: 601px) {
    .box {
     
      font-size: 3em;
      background-color: green;
    }
    ul li {
      font-size: 2em;
    }
    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
    }
  }
  @media(max-width:800px){
    .box{
        background-color: blueviolet;
        font-size: small;


    }
  }